#loginBtn {
    width: auto;
    position:relative;
    top: 35px;
    left: 82%;
    background-color: #316879; /* Green electric emerald color */
    font-size: 3.8em;
    color: #000000;
    padding: 25px 85px 25px 62px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    overflow: hidden; /* Hide the overflow for pseudo-element */
    z-index: 1; /* Ensure button is above pseudo-element */
}

#loginBtn:hover {
    background-color: #00796B; /* Darker blue metallic color on hover */
}

#loginBtn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background: linear-gradient(to bottom, hsl(173, 100%, 24%), #001f3f); /* Gradient from dark electric blue to black */
    transition: transform 0.3s ease;
    transform: scaleX(0); /* Initially hide the bar */
}

#loginBtn:hover::after {
    transform: scaleX(1); /* Show the bar on hover */
}

.key-icon {
    position: absolute;
    top: 29%;
    right: 257px;
    width: 55px;
    height: 55px;
    background-image: url('key.png'); /* URL of the key icon image */
    background-size: cover;
    transition: transform 2.4s ease;
    transform: translateX(0);
    opacity: 1;
}

#loginBtn:hover .key-icon {
    transform: translateX(244px);
    opacity: 1;
}


 /* Styles for login popup */
 .popup {
    width: 25%;
    height: 60%;
     display: none;
     position: fixed;
     top: 60%;
     left: 50%;
     transform: translate(-50%, -60%);
     background-color: #00796B; /* Green electric emerald color */
     padding: 20px;
     border: 1px solid #cccccc00;
     border-radius: 5px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     z-index: 999;
 }
 


  
  

  
 .popup-content {
    font-size: 2.3em;
     text-align: center;
 }
 
/* Style for login form container */
#loginPopup {
    display: none; /* Hide the login form by default */
  }
  
  /* Style for login form content */
  #loginPopup .popup-content {
    text-align: center;
    max-height: 450px; 
  }
  
  /* Style for login form inputs */
  #loginPopup input[type="text"],
  #loginPopup input[type="password"]
  {
    margin-top: 10px;
   
    width: 70%;
    font-size: 1.5em;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  #loginPopup button[type="submit"]
  {
    width: 50%;
    font-size: 1.7em;
background-color: #316879;
    border: 1px solid #cccccc00;
    border-radius: 5px;
  margin-top: 24px;
    box-sizing: border-box;
    cursor: pointer;
}

 /* Style for login form heading */
#loginPopup h2 {
    font-size: 64px; /* Adjust the font size as needed */
    color: #000000; /* Text color */
    margin-top: 10px; /* Top margin */
    margin-bottom: 40px; /* Bottom margin */
  }

    /* Style for loginform links */
    #loginPopup p a {
        position: relative;
      top: 20px;
        background-color: #316879;
        text-decoration: none;
        color: #000000;
        cursor: pointer;
     margin-top: 30px;
     font-size: 155%;
      }

  