
html {
    background: linear-gradient(to bottom, hsl(173, 100%, 24%), #001f3f); /* Gradient from dark electric blue to black */
    background-size:auto;
background-repeat: no-repeat;
  width: auto;
  height: 2800px;
  max-height: max-content;
  overflow-y: scroll;
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    font-family: Arial, sans-serif; /* Optional: Set a default font family */
}

/* Styles for header and navigation */
.header {
    background-image: url('header.png'); /* URL of your header image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px; /* Adjust padding as needed */
    text-align: center;
}
.header-nav {
    position: relative; 
    left: 45%;
    bottom: -220px;
    width: 109%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    background-color: #316879; /* Blue metallic color */
    padding: 5px 40px;
    border-radius: 10px;
    text-align: center;
    font-size: 35px;
}





.header-nav ul {
   
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.header-nav ul li {
    display: inline;
    margin-right: 80px; /* Adjust the margin-right for spacing */
}

.header-nav ul li:last-child {
    margin-left: 40px; /* Remove margin-right for the last list item */
}

.header-nav ul li a {
    position: relative;
    left: 10px%;
    font-weight: bold;
    color: #ffffff;
    font-size: 2em;
    text-decoration: none;
    position: relative;
    transition: background-color 0.3s ease;
    overflow: hidden;
    z-index: 1;
}

.header-nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: linear-gradient(to bottom, hsl(173, 100%, 24%), #001f3f);
    transition: width 0.3s ease;
}

.header-nav ul li a:hover::after {
    width: calc(100% - 20px); /* Αφήνουμε κενό 10px στο αριστερό και δεξί περιθώριο */
    height: 4px; /* Αυξάνουμε το ύψος του περιγράμματος */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); /* Προσθέτουμε σκίασμα */
}







 
 /* Styles for footer */
footer {
    position: relative; /* Set the position to relative */

    top: 1111px; /* Align footer to the bottom of its container */
    background-color: #00796B; /* Green electric emerald color */
    color: #000000;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    margin-top: 20px; /* Add margin-top to create space between footer and content */
}

.footer-nav {
    width: 100%;
    display: inline-block;
}

.footer-nav ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
}

.footer-nav ul li {
    display: inline;
}

.footer-nav ul li a {
    color: #fff;
    text-decoration: none;
}





table {
    position: relative;
    background-color: #333333;
    padding: 21px 0px 80px 120px;
    top: 112px;
    left: 253px;
    width:65%;
}

th, td {
font-size: 1.7em;
    text-align: left;
}
th {
    position: relative;
    left: 2px;
    background-color: #333333;
    color: #0fcebb;
}

.crypto-icon {
    position: relative;
    left: 2px;
    margin-left: 12px;
top: 12px;
    width: 38px; /* Set width to 1em for all icons */
    height: 38px; /* Set height to 1em for all icons */
}

td {
color: #0fcebb;
}


td#btc-price,
td#eth-price,
td#sol-price,
td#bnb-price
{
    color: #0fcebb;
    }
 td#btc-market-cap,
 td#eth-market-cap,
 td#sol-market-cap,
 td#bnb-market-cap{
        color: #0fcebb;
    }


    .price-up {
        color: green;
        font-weight: bold;
    }
    
    .price-down {
        color: red;
        font-weight: bold;
    }
.exchanger-icon {
            width: 48px;
            height: 40px; /* Adjust the height as needed */
        }
        
