/* Styles for header and navigation */
header {
    text-align: center;
    background-color: #00796B; /* Green electric emerald color */
 }
 
 nav {
     position: relative;
     left: 50%;
     transform: translateX(-50%);
     background-color: #316879; /* Blue metallic color */
     padding: 10px 20px;
     border-radius: 10px;
     text-align: center;
     font-size: large;
 }
 
 nav ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     text-align: center;
 }
 
 nav ul li {
     display: inline;
     margin-right: 20px;
 }
 
 nav ul li a {
     color: #fff;
     text-decoration: none;
 }
 
 /* Styles for login button */
 #loginBtn {
     position: absolute;
     right: 0%;
     background-color: #00796B; /* Green electric emerald color */
     font-size: 2em;
     color: #000000;
     padding: 5px 45px 5px 2px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     transition: background-color 0.3s ease;
 }
 
 #loginBtn:hover {
     background-color: #316879; /* Darker blue metallic color on hover */
 }
 
 .key-icon {
     position: absolute;
     top: 15%;
     right: 5px;
     width: 35px;
     height: 35px;
     transition: transform 0.3s ease;
     transform: translateX(0);
     opacity: 0;
 }
 
 #loginBtn:hover .key-icon {
     transform: translateX(0px);
     opacity: 1;
 }
 
 /* Styles for login popup */
 .popup {
     display: none;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: #00796B; /* Green electric emerald color */
     padding: 20px;
     border: 1px solid #ccc;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     z-index: 999;
 }
 
 .popup-content {
     text-align: center;
 }
 
 .close {
     color: #ffffff;
     float: right;
     font-size: 28px;
     font-weight: bold;
 }
 
 .close:hover,
 .close:focus {
     color: black;
     text-decoration: none;
     cursor: pointer;
 }
 
 /* Styles for footer */
 footer {
     position: fixed;
     bottom: 0;
     left: 0;
     width: 100%;
     background-color: #00796B; /* Green electric emerald color */
     color: #000000;
     padding: 20px;
     text-align: center;
     font-size: 2rem;
 }
 
 footer nav {
     width: 100%;
     display: inline-block;
 }
 
 footer ul {
     width: 100%;
     list-style-type: none;
     padding: 0;
 }
 
 footer ul li {
     width: 100%;
     display: inline;
     margin-right: 20px;
 }
 
 footer ul li a {
     width: 100%;
     color: #fff;
     text-decoration: none;
 }
 